// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    height: 36px;
    padding: 0 14px;
    border-radius: 6px;
    color: var(--filter-btn-color);
    background: var(--filter-btn-bg-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 142.86%;
}

// Like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--like-btn-bg-color);
    box-shadow: 0px 20px 60px 6px var(--like-btn-shadow-color);

    &__icon--liked,
    &__icon {
        position: absolute;
        transition: 0.5s;
    }

    &:not(.like-btn--liked) &__icon--liked {
        opacity: 0;
        transform: scale(0);
    }

    &--liked &__icon--liked {
        opacity: 1;
        transform: scale(1);
    }

    &--liked &__icon {
        opacity: 0;
        transform: scale(0);
    }

    &:not(.like-btn--liked) &__icon {
        opacity: 1;
        transform: scale(1);
    }
    
    &__icon--liked {
        margin-top: 6px;
    }
}