@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;

    padding: 30px 0;
    border-radius: 20px;
    background: var(--filter-form-bg-color);
    box-shadow: 0px 40px 90px 20px var(--filter-form-shadow-color);

    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.2s;

    @include abstracts.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__arrow {
        position: absolute;
        top: -14px;
        right: 25px;
        height: 20.5px;
        filter: var(--dropdown-arrow-color);
    }

    &__heading {
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 145.45%;
    }

    &__form {
        margin-top: 30px;

        &-group {
            margin-top: 20px;

            &--inline {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
        }

        &-label {
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 145.45%;
        }

        &-label--small,
        &-select {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 142.86%;
        }

        &-label--small {
            display: block;
            margin-bottom: 10px;
        }

        &-slider {
            position: relative;

            width: 100%;
            height: 2px;
            background: #D2D1D6;

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #FFB700;
                background: var(--filter-form-bg-color);
                translate: 0 -50%;
            }

            &::before {
                top: 50%;
                left: 18px;
            }

            &::after {
                top: 50%;
                right: 90px;
            }
        }

        &-text-input {
            display: flex;
            align-items: center;

            width: 334px;
            height: 44px;
            padding: 0 16px;
            border: 1px solid #D2D1D6;
            border-radius: 6px;

            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;

                @include abstracts.screen(xl) {
                    width: 100%;
                }
            }

            @include abstracts.screen(sm) {
                width: 100%;
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
        }

        &-input {
            width: 100%;
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--text-color);

            &::placeholder {
                font-weight: 400;
                color: #9E9DA8;
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
            }
        }

        &-input-icon {
            margin-left: 12px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;

            height: 45px;
            border: 1px solid #D2D1D6;
            border-radius: 6px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: var(--width, 108px);
            height: calc(100% - 10px);
            padding: 0 14px;

            @include abstracts.screen(xl) {
                flex: 1;
            }
        }

        &-select+&-select {
            border-left: 1px solid #D2D1D6;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;

            @include abstracts.screen(sm) {
                gap: 10px;
            }
        }

        &-tag {
            padding: 6px 12px;
            border-radius: 6px;

            color: #9E9DA8;
            background: var(--filter-form-tag-bg-color);

            font-weight: 500;
            font-size: 1.4rem;
        }
    }

    // End Filter Form

    &__row {
        display: flex;
    }

    &__content,
    &__heading,
    &__footer {
        padding: 0 30px;
    }

    &__content {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        overscroll-behavior: contain;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(sm) {
            max-height: calc(100vh - 200px);
            padding-bottom: 60px;
        }
    }

    &__separate {
        width: 1px;
        margin: 0 30px;
        background: #eee;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 1px;
            flex-shrink: 0;
            margin: 30px 0;
        }
    }

    &__footer {
        justify-content: flex-end;
        margin-top: 32px;

        @include abstracts.screen(sm) {
            position: sticky;
            bottom: 30px;
        }
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;

        @include abstracts.screen(sm) {
            flex: 1;
            height: 42px;
        }
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }


}