@use "../abstracts";

html.dark {
    --body-bg-color: #292E39;

    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(342deg) brightness(102%) contrast(102%);

    --header-bg-color: #171C28;

    --top-act-bg-color: #292E39;
    --top-act-group-shadow-color: #00000033;
    --top-act-separate-bg-color: #EDEDF6;

    @include abstracts.screen (lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Drop down
    --dropdown-bg-color: #2e3441;
    --dropdown-shadow-color: #171C2866;
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(23%) saturate(470%) hue-rotate(182deg) brightness(99%) contrast(94%);

    --department-border-color: #171C28;

    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1315%) hue-rotate(263deg) brightness(97%) contrast(103%);

    // Sidebar
    --sidebar-bg-color: #292E39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // cate-item
    --cate-item-bg-color: #171C28;
    --cate-item-thumb-bg-color: #292E39;
    --cate-item-title-color: #fff;

    // Buttons
    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171C28;
    --like-btn-bg-color: #292E39;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);
;

    // Product
    --product-bg-color: #171C28;
    --product-shadow-color: rgba(0, 0, 0, 0.2);

    // Filter form
    --filter-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(18%) saturate(976%) hue-rotate(182deg) brightness(96%) contrast(81%);
    --filter-form-bg-color: #2e3441;
    --filter-form-shadow-color: rgba(0, 0, 0, 0.4);
    --form-tag-bg-color: #171C28;

    // Footer
    --footer-bg-color: #171C28;
    --footer-text-color: #9e9da6;

    // Auth
    --auth-content-bg-color: #292E39;
    --auth-intro-bg-color: #171C28;
    --auth-intro-text-color: #B9BABE;
    --auth-heading-color: var(--auth-intro-text-color);

    // Forms
    --form-placeholder-color: #B9BABE;

    // Product detail
    --product-detail-bg-color: #292E39;

    // Breadcrumbs
    --breadcrumbs-bg-color: #171C28;
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);

    // Product info
    --prod-info-bg-color: #171C28;
    --prod-info-price-color: #EEEEEE;
    --prod-info-tag-bg-color: #292E39;
    --prod-info-btn-color: #eee;
}