html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(342deg) brightness(102%) contrast(102%);

    --header-bg-color: #171C28;
    --top-act-bg-color: #292E39;
    --top-act-group-shadow-color: #00000033;
    --top-act-separate-bg-color: #EDEDF6;

}