@use "../abstracts";

html {
    --body-bg-color: #F6F6F6;

    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(7224%) hue-rotate(214deg) brightness(89%) contrast(95%);

    --header-bg-color: #eee;
    --top-act-bg-color: #fff;
    --top-act-group-shadow-color: #EDEDF633;
    --top-act-separate-bg-color: #EDEDF6;

    @include abstracts.screen (lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Drop down
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: #C8C8C866;
    --department-border-color: #D2D1D6;

    // Sidebar
    --sidebar-bg-color: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    // cate-item
    --cate-item-bg-color: #eee;
    --cate-item-thumb-bg-color: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen (md) {
        --cate-item-bg-color: #fff;
    }

    // Buttons
    --filter-btn-color: #6C6C72;
    --filter-btn-bg-color: #fff;
    --like-btn-bg-color: #fff;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);

    // Product
    --product-bg-color: #fff;
    --product-shadow-color: rgba(237, 237, 246, 0.2);
    
}