@use "../abstracts";

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Gordita', sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

input,
img,
button,
select,
label,
textarea {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    padding: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input,
button,
textarea {
    background: transparent;
}

/* Remove background-color default while autocomplete: on */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color) !important;
    caret-color: var(--text-color);
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

ul,
ol {
    list-style: none;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}

.separate {
    height: 1px;
    background: #D2D1D6;
    margin: var(--margin);
}