@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.screen (lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    z-index: 1;
    padding: 30px 0;

    @include abstracts.screen (md) {
        justify-content: space-between;
    }
}

/* ================ Navbar ================ */
.navbar {
    margin-left: 129px;

    @include abstracts.screen (xl) {
        margin-left: 28px;
    }

    @include abstracts.screen (lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        padding: 20px 0;
        margin-left: 0;
        background: var(--sidebar-bg-color);
        border-radius: 0 20px 20px 0;

        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
            box-shadow: 0px 40px 90px 20px var(--sidebar-shadow-color);
        }

        &.show~&__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen (sm) {
        inset: 0 20% 0 0;
    }

    &__close-btn {

        @include abstracts.screen (lg) {
            padding: 10px 40px;
        }

        @include abstracts.screen (sm) {
            padding: 0 20px 10px;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen (lg) {
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.4);
            z-index: 8;

            transition: visibility, opacity;
            transition-duration: 0.5s;
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.screen (lg) {
            flex-direction: column;
            align-items: flex-start;

            height: calc(100% - 40px);
            overflow-y: auto;
            overscroll-behavior: contain;
        }

        @include abstracts.screen (md) {
            height: calc(100% - 130px);
        }

        @include abstracts.screen (sm) {
            height: calc(100% - 120px);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen (lg) {
            &:hover .dropdown {
                display: none;
            }

            width: 100%;
        }
    }

    &__item--active .dropdown {
        display: block !important;
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen (lg) {
            justify-content: space-between;
            padding: 0 40px;

            font-size: 1.6rem;
            line-height: 150%;
        }

        @include abstracts.screen (sm) {
            padding: 0 20px;
        }
    }

    &__arrow {
        margin-top: 4px;

        @include abstracts.screen (lg) {
            rotate: -90deg;
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }
}

/* ================ Top actions ================ */
.top-act {
    margin-left: auto;

    @extend %flexItemsCenter;
    gap: 20px;

    @include abstracts.screen (md) {
        margin-left: 0;

        &__sign-up {
            height: 40px !important;
            padding: 0 12px !important;
            font-size: 1.5rem !important;
        }
    }

    &__group {
        @extend %flexItemsCenter;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow-color);

        @include abstracts.screen (md) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        justify-content: center;
        gap: 10px;
        padding: 13px 20px;
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 146.667%;
        color: var(--text-color);
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-separate-bg-color);
    }
}

.top-act__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar-btn {
    align-items: center;
    gap: 16px;
    height: 50px;
    padding: 0 40px;

    @include abstracts.screen (sm) {
        height: 50px;
        padding: 0 20px;
    }

    &__title,
    &__qty {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__qty {
        margin-left: auto;
    }
}